
.Title {
    color: GREEN;
    text-align: center;
}
img {
    margin-left: 600px;
}
h1 {
    text-align: center;
}
p {
    color: grey;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
#Menu-Buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
   
}
#BOTW-Button {
    background-color: green;
    border: solid 2px white;
}
#SB-Button {
    background-color: blue;
    border: solid 2px white;
}
#RITJ-Button {
    background-color:  blueviolet;
    border: solid 2px white;
}
#BOTW-Button, #SB-Button, #RITJ-Button {
    color: white;
    transition: transform 0.2s ease;
}
#BOTW-Button:hover, #SB-Button:hover, #RITJ-Button:hover {
    transform: scale(1.1);
}
#Menu-Start {
    
}
#Ray-Start {
    color: blueviolet;
}
.hidden {
    display: none;
}
#Start {
    text-align: center;
}
#Start-Buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
#Stay-Put {
    text-align: center;
}
#Follow-Map {
    text-align: center;
}
#LeftxRight-Buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
#Left-Button {
    background-color: red;
    border: solid 2px white;
}
#Right-Button {
    background-color: blue;
    border: solid 2px white;
}
#Left-Button, #Right-Button {
    color: white;
    transition: transform 0.2s ease;
}
#Left-Button:hover, #Right-Button:hover {
    transform: scale(1.1);
}
#enemy-name-display {
    text-align: center;
}
#Right-Path {
    text-align: center;
}
#Up-Path {
    text-align: center;
}
body {
    background-color: black;
}
